.nav_container {
    box-shadow: 3px 4px 0px 1px #e6b079;
    transition: all 0.3s linear;
    border: 2px solid #264143;
}
    /*display: flex;
    flex-direction: column;
    width: 18.75rem;
    margin-top: 20px;
    border: 2px solid #264143;
    border-radius: 20px;
    overflow: hidden; */

    /*box-shadow: 0 2px 2px 2px black;*/


.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li {
    height: 50px;
    position: relative;
    background-color: #fdecdf;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    /*background: linear-gradient(#292929, #242424);*/

}
.nav a {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px;
    color: #bbb;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins';
    padding-left: 25%;
    border-left: 5px solid transparent;
    letter-spacing: 1px;
    transition: all 0.3s linear;
}
.nav a:not(:last-child) {
    border-bottom: none;
}
.nav .active a {
    color: #1b1b1b;
    border-left: 5px solid #b33b72;
    background-color: #eec4c3;
    outline: 0;
}
.nav li:not(.active):hover a {
    color: #eee;
    border-left: 5px solid #FCFCFC;
    background-color: #eec4c3;
}
.nav span[class^="icon"] {
    position: absolute;
    left: 20px;
    font-size: 1.5em;
    transition: all 0.3s linear;
}

@media only screen and (max-width: 860px) {
    .nav_container,
    .nav a {
        width: 70px;
    }
    .nav a:hover {
        width: 200px;
        z-index: 1;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid black;
        box-shadow: 0 0 1px 1px black;
    }
    .nav a:hover .text {
        display: block;
        padding-left: 30%;
    }
}
@media only screen and (max-width: 480px) {
    .nav_container,
    .nav a {
        width: 50px;
    }
    .nav span[class^="icon"] {
        left: 8px;
    }
}


.anchorTag {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px;
    color: #bbb;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins';
    padding-left: 25%;
    border-left: 5px solid transparent;
    letter-spacing: 1px;
    transition: all 0.3s linear;
}

.anchorTagLast {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px;
    color: #bbb;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins';
    padding-left: 25%;
    border-left: 5px solid transparent;
    letter-spacing: 1px;
    transition: all 0.3s linear;
}
